
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .main_body {
    font-family: Arial, sans-serif;
    background-color: #87bcc4;
  }

  .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(#6deeae, #2575fc);
    color: black;
      margin: 0;
      height: auto;
      min-height: 20%;
  }

  .head nav a {
    margin-left: 1rem;
    font-size: 20px;
    color: black;
    text-decoration: none;
  }

  .whatapp_logo ,.facebook_logo ,.discord_logo, .instagram_logo, .linkedin_logo {
    width: 20%;
    height: 30%;
    vertical-align: middle;
    margin-left:10 px;
  }
  .links {
    display: flex;
      flex-direction: column;   /* text above image */
      align-items: center;
      text-decoration: none;
      
  }

  .links img {
      margin-top: 8px;
      width: 60px;
  }
